@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Inter&display=swap");
.font-headline {
  font-family: "Bai Jamjuree", sans-serif;
}
.font-copy {
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.gradient {
  background: rgb(36, 99, 235);
  background: linear-gradient(
    90deg,
    rgba(36, 99, 235, 1) 0%,
    rgba(139, 92, 246, 1) 100%
  );
  display: flex;
  justify-content: center;
}

.font {
  color: white;
  padding: 0.25rem;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}
